@media (max-width: 1200px) {
    .wrapper {
        max-width: 1200px;
    }
}
@media (min-width: 970px) {
    .wrapper {
        max-width: 1800px;
    }
}   
body {
    padding: 0 auto;
    margin: o auto;
    font: 10pt arial;
}
.wrapper {
    
    width: 1200px;
    margin:auto;
}

.header {
    display: flex;
    justify-content: space-between ;
    position: relative;
}

.menu-top {
    font: 16pt  arial;
    display: flex;
    margin-right: 50px;
    margin-bottom: 50px;
}


.menu-top a {
    display: inline-block;
    height: 50px;
    color: rgb(255, 255, 255);
    padding: 20px 25px 0px;
}
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.sidebar-left {
    float: left ;
    width: 220px ;
    padding: 0px ;
    margin-left: 40px ;
    background: rgb(255, 255, 255);
    font: 16pt arial;
}
.menu-left {
    display: flex;
    flex-direction: column;
}

.menu-left a {
    display: inline-block;
    color: #5e7a6f;
    padding: 8px;
    width: 204px;
}
.menu-left .menu-item:hover {
    background-color: #dedede;
}

.main {
    width: 900px ;
    background: rgb(255, 255, 255);
    font: 20pt bold;
    margin-left: 260px;
}

.online {
    background-color: #dedede;
    padding: 5px;
}
.nick {
    display: inline-block;
    font: 16pt tahoma;
    color: #1a6a6d;
    padding: 3px;
    margin-left: 10px;
}

video {
    position: absolute;
    width: 100%;
    height: 78px;
    object-fit: cover;
    object-position: center center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: -1;
}

.lenta-left {
    float: left;
}
.avatar {
    width: 280px;
    margin: 10px;
}

.lenta-right {
    margin-left: 300px;
}

.about {
    display: flex;
}
.info-left {
    width: 200px;
}

.info-right {
    margin-right: 80px;
    color: #1a6a6d;
}

.edit-page {
    margin-left: 10px;
    color: #1a6a6d;
}

.top-menu {
    display: inline-block;
    background-color: #dedede;
    width: 100%;
}

.gallery {
    display: flex;
}
.gallery img {
    margin: 3px;
}

.footer {
    background-color: #dedede;
    padding: 1px;
    text-align: center;
    margin-bottom: 120px;
}
p {
    font: 14pt arial;
}
